
#partiePrincipale > h1{
    font-size: 170%;
    margin-left: 2%;
    margin-top: 1%;
    color: orangered;
}
#partiePrincipale >hr{
    width: 96%;
    margin-left: 2%;
}

#partieGauche{
    margin-left: 4%;
    margin-top: 1%;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
#partieGauche > h2{
    font-size: 150%;
    margin-bottom: 2%;
}


#partieDroite{
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin-left: 2%;
}

#profil{
    padding: 3%;
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
    margin-top: 13.5%;

}
#notification{
    display: inline-block;
    margin-top: 8%;
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
    padding: 1%;
}

#restauRecommende{
    margin-top: 8%;
}
#pasDeRecommendation{
    margin-top: 8%;
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
    padding: 2%;
}
#pasDeRecommendation>h4{
    text-align: center;
    margin-bottom: 1%;
    font-size: 105%;
}
#pasDeRecommendation>p{
    text-align: justify;
    margin-bottom: 1%;
}
/* lien pour comment ca fonctionne et ecrire une revue*/
#pasDeRecommendation>div{
    margin-left: 3%;
}
#pasDeRecommendation>div>a{
    color: royalblue;
}
#pasDeRecommendation>div>a:hover{
    text-decoration: underline;
}

#uservoice{

    margin-top: 8%;
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
    padding: 2%;
}
#uservoice>h4{
    text-align: center;
    margin-bottom: 1%;
    font-size: 105%;
}
#uservoice>p{
    text-align: justify;
}
#uservoice>p>mark{
    background-color: transparent;
    font-weight: bold;
}
#uservoice>p>a{
    color: royalblue;
    font-weight: bold;
}
#uservoice>p>a:hover{
    text-decoration: underline;
}