
#bloc{
	display: inline-block;
	width: 75%;
	vertical-align: top;
	height: 100%;
}
#lien{
	display: inline-block;
	width: 20%;
	margin-left: 1%;
	margin-right: 2%;
	margin-top: 0.4%;
	vertical-align: top;
}
#logo{
	width: 100%;
	min-width: 170px;
	display: inline-block;
}

.menu{
	padding: 0.5% 1.0% 0.5% 1.0%;
	margin-bottom: 1%;
	margin-top: 0.5%;
	text-align: center;
	display: inline-block; 
	border-left: 1px #FFB664 solid;
}
	
#menu{
	padding-left: 2%;
	padding-right: 1.3%; 
	padding-top: 0.5%; 
	padding-bottom: 0.5%; 
	margin-bottom: 1%;
	margin-top: 0.5%;
	margin-left: 5%;
	text-align: center;
	display: inline-block; 
}
	
.menu:hover, #menu:hover{
	background-color: #FF8E15;
}


.recherche{
	padding-left: 1%;
	padding-right: 1%; 
	padding-bottom: 0.2%;
	display: inline-block; 
	width: 25%;
	margin-top: 0.5%;
	margin-bottom: 1%;
}


.barreDeRecherche{
	width: 100%;
}

#loupe{
	width: 5%;
}


