
/* imgage de présentation */
.amelioration > ul {
    display: inline-block;
    vertical-align: top;
    width: 16%;
}
.amelioration > div>li{
    width: 100%;
}
.amelioration > div> img{
    width: 100%;
}

/* description proposition */
.amelioration article {
    display: inline-block;
    vertical-align: top;
    width: 51%;
    margin-right: 2%;
    margin-left: 1.3%;
}
.amelioration article h2 {
    text-align: center;
    font-size: 135%;

}
.amelioration article h2:hover {
    text-align: center;
    font-size: 135%;
    text-decoration: underline;

}
.amelioration article > p {
    margin-top: 1%;
    text-align: justify;
    text-indent: 2%;

}

/* barre de progression */
.amelioration aside{
    display: inline-block;
    vertical-align: top;
    width: 26%;
    margin-left: 3%;
}
.amelioration aside ul li {
    margin-left: 2%;
    margin-top: 15%;
    margin-bottom: 9%;
}
.amelioration aside ul li div{
    display: inline-block;
    vertical-align: middle;
}
/* photo */
.amelioration aside ul li img{
    display: inline-block;
    vertical-align: middle;
    float: right;

}
/* pouce */
.amelioration aside ul li .pouceHaut, .amelioration aside ul li .pouceBas{
    width: 11.5%;
    cursor: pointer;
}

/* don */
.amelioration aside ul .don{
    width: 104%;

}
/* tirelire */
.amelioration aside ul li .tirelire{
    width: 17%;
    height: 35px;
}
/* titre annule */
.amelioration aside ul li h6{
    font-size: 140%;
    font-weight: normal;
}
.amelioration aside ul li .annule{
    width: 20%;
}
/* en cours de devellopement */
.amelioration aside ul li .enDevellopementImage {
    width: 20%;
    position: relative;
    left: 3%;
}
.amelioration aside ul li .enDevellopementTitre {
    font-size: 120%;
}

/* ecrit par */
.amelioration > p{
    text-align: right;
    margin-right: 3%;
}
.amelioration > p a:hover{
    text-decoration: underline;
}