

/* les phtoto */
.photoDeLAuteur  img{
    width: 60%;
    padding-left: 10%;
    padding-bottom: 1%;
    margin-left: 10%;
    margin-top: 10%;
}

/* le sous titre */
.photoDeLAuteur p{
    text-align: center;

}

/* le lien de l'auteur */
.photoDeLAuteur p > a{
    color: royalblue;
}

.photoDeLAuteur p > a:hover{
    text-decoration: underline;
}