
/* premiere photo */
.publication_photo article > a> img{
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5%;
    width: 41.3%;
    cursor: pointer;
    margin-top: 1%;
}

/* deusieme et troisieme photo*/
.publication_photo article > section{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-top: 1%;
}
.publication_photo article > section > a> img{
    display: block;
    width: 100%;
    margin-bottom: 7%;
    cursor: pointer;
}

/* titre utilisateur */
.publication_photo article h5{
    margin-bottom: 0.5%;
}