
/* titre */
#partiePrincipale >h1{
    font-size: 150%;
    margin-top: 5%;
    text-indent: 3%;

}


/* liste des discution */
#partiePrincipale > table{
    width: 69%;
    display: inline-block;
    vertical-align: top;
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
    margin-top: 1%;
    padding: 1%;
    margin-left: 3%;
    /* Supprime les marges entre les cellules */
    border-spacing:0;
}
