#partiePrincipale{
    margin-top: 7.54%;
}

#nouvelle-discution{
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    margin-left: 3%;
    width: 66.6%;
    padding: 1%;
}

#nouvelle-discution > input{
    display: block;
    margin: 1%;
    font-size: 120%;
    padding: 0.5%;
    width: 70%;
}


#nouvelle-discution > textarea{
    display: block;
    margin: 1%;
    width: 97%;
    max-width: 97%;
    height: 200px;
    padding: 0.5%;
}

#nouvelle-discution > select{
    margin: 1%;
}


/* button de validation et d'annulation */

#button{
    text-align: right;
}

#button > p{
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
}
#button > p:hover{
    text-decoration: underline;
}

#button > input{
    display: inline-block;
    vertical-align: bottom;
    border: 1px #FF8400 outset;
    box-shadow: 0px 0px 0px #FF8400;
    border-radius: 5px;
    background-color: #FBAE5B;
    padding: 0.1%;
    margin-right: 6.2%;
    margin-left: 1%;
    cursor: pointer;
}
#button > input:active{
    position: relative;
    top: 1px;
    left: 1px;
    border: 1px #FF8400 outset;
}