
article{
    border: 1px #C9C2B4 solid;
    border-radius: 5px;
    width: 38%;
    min-width: 400px;
    margin: auto;
    padding: 20px 40px 20px 40px;

}

h3{
    border-bottom: 1px #C9C2B4 solid;
    padding-bottom: 15px;
    font-size: large;
}
p{
    text-align: center;
    font-size: 16px;

}

ul{
    margin: 10px;
}
li{
    margin-top: 10px;
    padding-left: 30px;

}



.champ{
    height: 25px;
    width: 300px;
    text-indent: 10px;
}

#gardersection{
    position: relative;
    bottom: 5px;
    left: 2px;
}
#connexionOuInscription{
    font-size: 14px;
    padding: 3px;
}
#connexion{
    margin-right: 5px;
    padding: 3px;

}
#inscription{
    margin-left: 5px;
    color: #FF5E02;


}
#motDePasseOublie{
    color: #305EC6;
    cursor: pointer;
}
#motDePasseOublie:hover{
    text-decoration: underline;
}
