

#options{
	width: 15.5%;
    min-width: 120px;
	font-size: 93%;
	display: inline-block;
    margin-top: 0.7%;
}

	.titreOption{
		margin-top: 5px;
        margin-bottom: 4px;
	}

    /* afficher plus d'option */
	#fonctionsAvancees, #cuisinesAvancees{
		color: #305EC6;
		margin-top: 5px;
		margin-bottom: 8px;
        cursor: pointer;
	}
	#fonctionsAvancees:hover, #cuisinesAvancees:hover{
		text-decoration: underline;
		
	}
    #options> li  label,
    #options> li  input{
        vertical-align: middle;
        margin-bottom: 3px;
    }


/* partie de la liste des restaurant rechercher */
#recherche_restau{
	width: 50%;
	display: inline-block;
	vertical-align: top;
    margin-left: 27.5%;
    padding: 1%;
}


/* la partie qui contient la carte */
#contientCarte{
    position: fixed;
    top: 124px;
    width: 22%;
    margin-left: 1.5%;
}
/* le titre de la recherche */
#titreRecherche{
    font-size: 220%;
    margin-bottom: 3%;
}

.infoBulle{
    background-color: white;
    border: 2px gainsboro solid;
    padding: 2%;
}

.infoBulle>img{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

/* a droite de la photo */
.infoBulle>section{
    width: 73%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
}

/* titre du restau */
.infoBulle>section>article>p{
    display: inline-block;
    vertical-align: bottom;
}
.infoBulle>section>article>a>h4{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 2%;
    color: #305EC6;
    font-size: 120%;
}
.infoBulle>section>article>a>h4:hover{
    text-decoration: underline;
}

/* etoile et avis */
.infoBulle>section>div>div{
    display: inline-block;
    vertical-align: middle;
}
.infoBulle>section>div>p{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
}

/* adresse et telephone */
.infoBulle>section>aside{
    font-size: 90%;
    margin-top: 2%;
}





/*
#cuisineCachees{
	animation: 0.5s ease-in-out 7s;
}
*/

/*
#cuisinesAvancees:active{
	color: rgb(255,0,0);
}
*/





