#notification{
    display: inline-block;
    width: 25%;
    margin-top: 8%;
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
    padding: 1%;
}

#notification li{
    margin-top: 1%;
}
/* titre notification */
#notification li h1{
    text-align: center;
    font-size: 120%;
    margin-bottom: 3%;
}
/* photo de profil */
#notification li img{
    display: inline-block;
    vertical-align: top;
    width: 13%;
    margin-right: 2%;
}
/* notification */
#notification li article{
    display: inline-block;
    vertical-align: top;
    width: 82%;
}
/* la date de la notification */
#notification li article time{
    color: gray;
    font-size: 70%;
    text-align: right;
    display: block;
}
#notification li article a{
    color: #305EC6;
}
#notification li article a:hover{
    text-decoration: underline;
}