#body{
    text-align: center;
}


#gauche, #droite{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    min-width: 400px;
    margin-right: 1.5%;
    margin-bottom: 4%;
    margin-top: 3%;
    max-width: 500px;
    text-align: left;
}
#gauche{
    margin-top: 4%;
}


#droite h1{
    font-size: xx-large;
    color: black;
}

