#body{
    text-align: center;
}


#gauche{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 7%;
    margin-bottom: 4%;
}
#gauche>img{
    display: inline-block;
    vertical-align: middle;
    width: 98%;
    height: 98%;
    margin: 1%;
}
/* section des petits ronds */
#gauche>div{
}
#gauche>div>canvas{
    border: 1px #FFB15D solid;
    width: 6px;
    height: 6px;
    cursor: pointer;
}

#droite{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
#droite h1{
    font-size: xx-large;
    color: black;
}
#droite>div{
    margin-top: 2%;
}
