
#droite >form> table{
    margin:0 auto;

}


#droite >form>table tr td >h1{
    font-size: xx-large;
}

.grandChamp, .grandChamp:focus {
    width: 350px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 5px;
}

.grandChampErreur, .grandChampErreur:focus{
    width: 350px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 5px;
    border: 1px red inset;
    box-shadow: 1px 1px 5px red;

}

.petitChamp, .petitChamp:focus{
    width: 170px;
    display: inline-block;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 5px;
}
.petitChamp:first-child{
    margin-right: 4px;
}

.petitChampErreur, .petitChampErreur:focus{
    width: 170px;
    display: inline-block;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-indent: 5px;
    border: 1px red inset;
    box-shadow: 1px 1px 3px red;
}
.date, .date:focus{
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dateErreur, .dateErreur:focus{
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px red inset;
    box-shadow: 1px 1px 3px red;
}

.genre{
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sexErreur{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
}

#button_inscription{
    text-align: right;
}

#creerUnCompte{
    padding: 2px;
    height: 40px;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 5px;

}

#dateEtGenre{
    position: relative;
    top: 15px;
}



/* ville */
#span_ville{
    display: inline-block;
    width: 230px;
    vertical-align: top;
}
#ville_titre{
    margin-top: 2%;
    position: relative;
    top: 6px;
}
#ville{
    width: 220px;
    position: relative;
    top: 6px;
}

#ville_search{
    width: 220px;
    position: absolute;
    padding-top: 4px;
    text-indent: 5px;
    border: 1px silver inset;
    border-top: none;
    box-shadow: 2px 1px 3px silver;
}
#pays{
    padding: 3px;
    margin-left: 2%;
    margin-top: 17px;
}
