/* titre de l'evenemtn */
#partiePrincipale>h1{
    padding: 2% 0% 2.5% 0%;
    text-align: center;
    font-size: 200%;
}

#partieGauche{
    display: inline-block;
    vertical-align: top;
    width: 51%;
    margin-left: 1.8%;
    margin-top: 2.3%;
}

#partieDroite{
    display: inline-block;
    vertical-align: top;
    width: 43%;
    margin-left: 2%;
}

/* lien vers les ancres */
#partieDroite> div{
    text-align: right;
    margin-right: 2%;
    margin: 1%;
}

#partieDroite> div >a {
    color: royalblue;
    cursor: pointer;
}
#partieDroite> div >a:hover {
    text-decoration: underline;
}
.evenement{
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
    padding: 1%;
}