
hr{
    margin: 0px;
}

/* different li */
#discution  li{
    padding: 2% 1.5% 2% 1.5%;
}

/* partie gauche */
#discution> li> div{
    display: inline-block;
    width: 12%;
    vertical-align: top;
}
#discution> li> div> img{
    width: 90%;
    margin-left: 1%;
}
#discution> li> div> a> p{
    text-align: center;
}
#discution> li> div> a> p:hover{
    text-decoration: underline;
}

/* parie droite */
#discution> li> article{
    display: inline-block;
    width: 80%;
    margin-left: 1%;
    vertical-align: top;
}

/* texte avis */
#discution> li> article>p{
    display: inline-block;
    width: 87%;
    vertical-align: top;
    text-align: justify;
}
/* date de publication */
#discution> li>article> time{
    display: inline-block;
    text-align: center;
    width: 11%;
    color: gray;
    margin-left: 2%;
    font-size: 79%;
    vertical-align: top;
    text-align: right;
}






