#evenementAuQuelOnParticipe{
    padding: 3%;
}
#evenementAuQuelOnParticipe >li{
    margin-top: 2%;
}
/* titre */
#evenementAuQuelOnParticipe >li>h1{
    font-size: 120%;
    text-align: center;
    margin-bottom: 5%;
}
/* image */
#evenementAuQuelOnParticipe >li> img{
    width: 21%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
}
#evenementAuQuelOnParticipe >li> input{
    float: right;
}
/* partie a droite de l'image */
#evenementAuQuelOnParticipe >li> article{
    display: inline-block;
    vertical-align: top;
    width: 68%;
    margin-right: 0.5%;
}
/* le titre de l'évenement */
#evenementAuQuelOnParticipe >li> article> a>h6{

}
#evenementAuQuelOnParticipe >li> article> a> h6:hover{
    text-decoration: underline;
}


/* la date et lieu de l'evenement */
#evenementAuQuelOnParticipe >li> article> section{
    margin-top: 1.5%;
}
/* date */
#evenementAuQuelOnParticipe >li> article> section> time{
    margin: 0.5% 0% 0% 0%;
    font-size: 92%;
}
/* lieu */
#evenementAuQuelOnParticipe >li> article> section> a{
    color: royalblue;
}
#evenementAuQuelOnParticipe >li> article> section> a:hover{
    text-decoration: underline;
}


/* les lien pour les personnes qui participient */
#evenementAuQuelOnParticipe >li> article>p> a {
    color: #305EC6;
}
#evenementAuQuelOnParticipe >li> article> p>a:hover {
    text-decoration: underline;
}