/* photo de profil */
.evenement >img{
    display: inline-block;
    width: 10%;
    vertical-align: top;
}
/* article à droite de la photo */
.evenement >article{
    display: inline-block;
    width: 82.5%;
    vertical-align: top;
    margin-left: 1%;

}		/* date de publication */
.evenement >article > time{
    float: right;
    color: gray;

}
/* titre de celui qui a ecrit l'evenement */
.evenement >article > h6{
    overflow: auto;
    font-weight: normal;
    margin-bottom: 2%;
    font-size: 110%;
}
.evenement> article> h6> a{
    font-size: 14px;
    color: #305EC6;
    font-weight: bold;
}
.evenement> article> h6> a:hover{
    text-decoration: underline;
    color: #305EC6;
}
/* photo de l'evennement */
.evenement> article> section> ul {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    padding: 0% 0% 0% 0%;

}
.evenement >article> section> ul> li{
    margin-bottom: 5%;
}
.evenement> article> section> ul> li> img{
    width: 100%;
}

/* section en dessous du titre d'annouce et a cote des photo */
.evenement> article>section >section {
    display: inline-block;
    width: 72%;
    margin: 0% 0% 0% 1%;
    vertical-align: top;

}		/* titre de l'evenement */
.evenement >article >section> section> a {
    color: #305EC6;
    font-size: 15px;
    font-weight: bold;
}
.evenement> article> section> section> a:hover {
    color: #305EC6;
    font-size: 15px;
    text-decoration: underline;
}
/* la date et lieu de l'evenement */
.evenement> article> section> section> section{
    margin-top: 1.5%;
}
/* date */
.evenement> article> section> section> section> time{
    margin: 0.5% 0% 0% 0%;
}
/* lieu */
.evenement> article> section> section> section> a{
    color: royalblue;
}
.evenement> article> section> section> section> a:hover{
    text-decoration: underline;
}


/* liste des gens invité */
.evenement> article> section> section> article{
    margin: 0% 0% 0% 0%;

}		/* speudo de celui qui est invité */
.evenement >article >section >section> article> span> a {
    color: #305EC6;
    font-weight: normal;
    font-size: 12px;
}
.evenement >article> section> section> article> span> a:hover{
    color: #305EC6;
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline;
}
/* la reponse de celui qui est invite */
.evenement >article>section >section> article> span >span {
    font-size: 12px;

}
/* texte de l'évenement */
.evenement> article> section> section >  p{
    margin-top: 2%;
    font-size: 100%;
    text-align: justify;

}
/* participe? */
.evenement> article> section> section > div{
    margin-top: 2%;
}
.evenement> article> section> section > div>p{
    display: inline-block;
    font-size: 90%;
    margin-right: 1%;
    font-weight: bold;
}
.evenement> article> section> section > div> input{
    vertical-align: bottom;
}

/* message perso*/
.evenement >article> p{
    border: 1px silver solid;
    border-radius: 5px;
    width: 100%;
    padding: 1% 1% 1% 1%;

}
.evenement> article> p> strong{
    color: black;
    font-weight: bold;
}





