
#partieDroite{
    display: inline-block;
    vertical-align: top;
    width: 27%;
    margin-left: 2%;
    margin-top: 4%;
}


/* zone des buttons */
#partieDroite>div{
    text-align: right;
}

#partieDroite> div> a{
    font-size: 130%;
    padding: 0.5% 1% 0.5% 1%;
    vertical-align: middle;
}

#partieDroite> div> button{
    vertical-align: middle;
    margin-left: 3%;
    padding: 1% 0.5%;
}


/* information localisation*/
#partieDroite>section{
    margin-top: 25%;
    border: 1px darkgray solid;
    width: 100%;

}

/* carte */
#partieDroite>section>div{
}

/* adresse */
#partieDroite>section>article{
    margin: 1.5%;
}

#partieDroite>section>article>address{
    display: block;
}
/* tel */
#partieDroite>section>article>p{
    margin-top: 0.5%;
    margin-bottom: 3%;
}


#horraire, #fonctionnalite{
    margin-top: 8%;
    min-width: 210px;
}
#horraire> caption,
#fonctionnalite > li> h3{
    font-weight: bold;
    font-size: 110%;
    text-align: left;
    margin-bottom: 1%;
}

/* horraire */

#horraire{
    width: 100%;
}

#horraire tr td{
    vertical-align: middle;
}
#horraire tr td:first-child{
    width: 35%;
}
#horraire tr td.open_now{
    font-weight: bold;
    text-align: center;

}

/* fonctionnalite */
#fonctionnalite > li> p,
#fonctionnalite > li> canvas{
    vertical-align: middle;
    display: inline-block;
}
#fonctionnalite > li> p{
    padding: 5px 0px;
    padding-right: 5%;
}


























