
/* presentation de l'amelioration */
.amelioration{
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    padding: 1%;
}

/* liste  des commentaire */
#listeCommentaire{
    width: 55%;
    margin: 4% 0% 0% 20%;
}