#gauche{
    display: inline-block;
    vertical-align: top;
    width: 64%;
    margin-top: 3%;
    margin-left: 6%;
}

/* titre restau */
#gauche>h1{
    color: royalblue;
    font-size: 240%;
}

/* adresse et numéro de telephone */
#gauche > aside{
    float: right;

}

/* choisis la note */
#gauche > article{
    margin-top: 2%;
}

/* titre de ce qu'on va choisir */
#gauche > article > h6{
    display: inline-block;
    vertical-align: middle;
    font-size: 120%;
}

/* contenant des etoile */
#gauche > article > div{
    display: inline-block;
    vertical-align: middle;
    width: 270px;
    margin-left: 2%;
}

/* etoiles */
#gauche > article > div> canvas{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0%;
    padding: 0%;
}
#gauche > article > div> .demiEtoileDroite{
    position: relative;
    right: 4px;
}

/* commentaire quand on choisis un note */
#gauche > article > p{
    display: inline-block;
    vertical-align: middle;
    font-size: 120%;
}


/* contenant de de la zone de saisie */
#gauche > section{
    margin-top: 2%;
}

#gauche > section > h6{
    font-size: 120%;
    margin-right: 1%;
}

#gauche > section > textarea{
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 1%;
}



/* titre pour dire qu'il a des questions */
#gauche > h4{
    margin-top: 4%;
    font-size: 110%;
}

/* liste des question */
#gauche > ul{
    margin-top: 1%;
}
#gauche > ul>li{
    margin-top: 2%;
}
/* question */
#gauche > ul>li> p{
    margin-bottom: 0.5%;
    font-size: 100%;
}
#gauche > ul>li> label{
    margin-right: 1%;
    vertical-align: middle;
}

#gauche > ul>li> input{
    margin-right: 0.2%;
    vertical-align: middle;

}

/* contenant des button */
#gauche > div{
    text-align: right;
    margin-top: 5%;
}

#gauche > div> input{
    margin-right: 3%;
    font-size: 110%;
    background-color: red;
    border: 1px red outset;
}


