

/* speudo */
#profilAmelioration > h4{
    text-align: center;
}

/* ville ou habite la personne */
#profilAmelioration > address{
    text-align: center;
    margin-bottom: 1%;
}

/* partie en bas du speudo et de la ville */
#profilAmelioration > article{

}

/* photo de profil */
#profilAmelioration > article>img{
    width: 17%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
}
/* liste des notifications de participation */
#profilAmelioration > article>ul{
    width: 81%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1%;
}
#profilAmelioration > article>ul>li{
    margin-top: 1.5%;
}

#profilAmelioration > article>ul>li>img{
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
}
#profilAmelioration > article>ul>li>p{
    display: inline-block;
    vertical-align: middle;
}
