	#profil div{
		text-align: center;
		margin-bottom: 2%;
		
	}		
			/* titre */
		#profile div a h2{
			display: inline-block;
		}
		#profil div p{
			display: inline-block;	
			margin-left: 2%;		
		}
			/* partie en dessous du titre */
		#profil article{
		}
		#profil article img{
			display: inline-block;
			width: 20%;
			vertical-align: top;
		}
			/* partie des listes des information */
		#profil article section{
			display: inline-block;
			width: 78.6%;
		}
			#profil article section ul{
				display: inline-block;
				vertical-align: top;
				margin-left: 1%;
				font-size: 14px;
			}
				#profil article section ul li{
					margin-bottom: 5%;			
					text-align: left;
				}
					#profil article section ul li img{
						display: inline-block;
						vertical-align: middle;
						width: 20px;
					}
						/* chiffre */
					#profil article section ul li p{
						display: inline-block;
						vertical-align: middle;
						text-indent: 2px;
					}
