.nouvelleRevueDeQuelquUn{
    font-size: 115%;
}


/* pour Revue  et Evenement */
.nouvelleRevueDeQuelquUn img{
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.nouvelleRevueDeQuelquUn article{
    display: inline-block;
    width: 82.5%;
    vertical-align: top;
    margin-left: 1%;

}
.nouvelleRevueDeQuelquUn article > time{
    float: right;
    color: gray;

}

/* titre de la revue */
.nouvelleRevueDeQuelquUn article h6{
    overflow: auto;
    font-weight: normal;
}
.nouvelleRevueDeQuelquUn article h6 a:hover{
    text-decoration: underline;
    color: #305EC6;
}
.nouvelleRevueDeQuelquUn article h6 a strong{
    font-size: 14px;
    color: #305EC6;
}

.nouvelleRevueDeQuelquUn article h6 a mark{
    background-color: transparent;
    color: #305EC6;
}
.nouvelleRevueDeQuelquUn article h6 a mark:hover{
    background-color: transparent;
    color: #305EC6;
    text-decoration: underline;
}

/* etoile */
.nouvelleRevueDeQuelquUn article > div{
    overflow: auto;
    margin-top: 1%;
    width: 40%;
}
.nouvelleRevueDeQuelquUn article div canvas{
    display: inline-block;
    margin-left: 2%;
}
.nouvelleRevueDeQuelquUn article p{
    text-align: justify;
    margin: 0.5% 0% 1.5% 0%;
}


/* question sur la pertinance de cette avis */
.nouvelleRevueDeQuelquUn article section h6{
    margin: 1% 0% 1% 0%;
    font-weight: bold;
}
.nouvelleRevueDeQuelquUn article section div {
    width: 60%;

}
.nouvelleRevueDeQuelquUn article section div div{
    margin: 0% 2% 0% 0.5%;
    padding: 0% 1.5% 0% 1.5%;
    display: inline-block;
    background-color: #FBAE5B;
    border: 1px #FF8400 outset;
    box-shadow: 0px 0px 0px #FF8400;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    width: auto;
    user-select: none; /* L'utilisateur ne pourra plus sélectionner le texte de l'élément qui possède cette propriété CSS */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.nouvelleRevueDeQuelquUn article section div div:hover{
    margin: 0% 2% 0% 0.5%;
    padding: 0% 1.5% 0% 1.5%;
    display: inline-block;
    background-color: #FEA646;
    border: 1px #FF8400 outset;
    box-shadow: 0px 0px 0px #FF8400;
    border-radius: 5px;
    width: auto;
    user-select: none; /* L'utilisateur ne pourra plus sélectionner le texte de l'élément qui possède cette propriété CSS */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.nouvelleRevueDeQuelquUn article section div div span{

}
.nouvelleRevueDeQuelquUn article section div div img{
    display: inline-block;
    width: 17px;
}

.nouvelleRevueDeQuelquUn article article{
    margin: 3% 0% 0% 0%;
    width: 80%;
}
.nouvelleRevueDeQuelquUn article article input{
    width: 100%;
    text-indent: 1%;
    cursor: pointer;
}



/* ce qui s'affiche quand on veut ecrire un commentaire
 */
.nouvelleRevueDeQuelquUn article article textarea{
    width: 99.25%;
    padding-left: 1%;
    max-width: 110%;
    height: 100px;
}
.nouvelleRevueDeQuelquUn article article div{
    margin: 2% 0% 0% 0%;
    width: 100%;
    text-align: right;
    overflow: visible;
}
.nouvelleRevueDeQuelquUn article article div p{
    display: inline-block;
    cursor: pointer;
}
.nouvelleRevueDeQuelquUn article article div p:hover{
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}
.nouvelleRevueDeQuelquUn article article div p:active{
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    top: 1px;
    left: 1px;
}

.nouvelleRevueDeQuelquUn article article div input{
    display: inline-block;
    background-color: #FBAE5B;
    border: 1px #FF8400 outset;
    box-shadow: 0px 0px 0px #FF8400;
    border-radius: 5px;
    padding: 0.5% 1.5% 0.5% 1.5%;
    width: 20%;
    margin: 0% 0% 0% 3%;
    cursor: pointer;
}
.nouvelleRevueDeQuelquUn article article div input:active{

    display: inline-block;
    background-color: #FBAE5B;
    border: 1px #FF8400 outset;
    box-shadow: 0px 0px 0px #FF8400;
    border-radius: 5px;
    padding: 0.5% 1.5% 0.5% 1.5%;
    width: 20%;
    margin: 0% 0% 0% 3%;
    cursor: pointer;
    position: relative;
    top: 1px;
    left: 1px;

}
