
/* etoile */
.publication_revue article > div{
    width: 40%;

}
.publication_revue article div canvas{
    display: inline-block;
    margin-left: 2%;
}
.publication_revue article p{
    text-align: justify;
    margin: 0.5% 0% 2% 0%;
}


/* photos */
.publication_revue article> section {
    text-align: center;
    width: 80%;
    margin: auto;
}

.publication_revue article> section > a{
    display: inline-block;
    vertical-align: top;
    margin-right: 2.5%;
    width: 25%;
    cursor: pointer;

}
.publication_revue article> section > a>img{
    width: 100%;
}