
/* date de publication */
.revue_d_une_personne >aside{
    text-align: right;
    margin-right: 3px;
}
.revue_d_une_personne >aside> time{
    color: grey;
    font-size: 90%;
}

.revue_d_une_personne > .restaurant{
    margin-bottom: 0.7%;
    margin-top: 0.3%;
}

.revue_d_une_personne > h5{
    font-size: 110%;
}
.revue_d_une_personne > p{
    font-size: 100%;
    text-align: justify;
    margin-bottom: 1%;
}
/* lien pour modifier ca revue */
.revue_d_une_personne> aside {
   text-align: right;
    margin-right: 3px;
    margin-top: 1%;
}
.revue_d_une_personne>aside> a {
    color: #305EC6;
    cursor: pointer;

}
.revue_d_une_personne> aside>a:hover {
    text-decoration: underline;
}

