    /* date de publication */
.revue >time{
    display: block;
    color: grey;
    text-align: right;
}
    /*la parie du restaurant*/
.revue > article{
    width : 64%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;
}
   /* partie des notifications*/
.revue > section{
    width : 34%;
    display: inline-block;
    vertical-align: top;
}   
		/* liste des votes */
    .revue > section> ul{
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
	}
	#listeGauche{
		margin-right: 10%;
	}
		.revue > section> ul> li{
			margin-bottom: 5%;			
			text-align: left;
		}
			.revue > section> ul> li >img{
				display: inline-block;
				vertical-align: middle;
				width: 25px;
			}
				/* chiffre */
			.revue > section> ul> li> p{
				display: inline-block;
				vertical-align: middle;
				text-indent: 2px;
			}

        /* pour les revues pas encore validé */
        /* pour le texte d'avertissement*/
    .revue > section > img{
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        margin-right: 1%;
    }
    .revue > section > p{
        display: inline-block;
        vertical-align: middle;
        font-size: 105%;
    }
        /*pour l'input*/
    .revue > section>div{
        text-align: right;
        margin-top: 3%;
    }
        .revue > section>div>input{
            font-size: 120%;
            font-weight: bold;
            background-color: #FBAE5B;
            border: 1px #FF8400 outset;
            box-shadow: 0px 0px 0px #FF8400;
            border-radius: 5px;
            padding: 1% 2% 1% 2%;
            width: 20%;
            cursor: pointer;
        }
        .revue > section>div>input:active{
            background-color: #FBAE5B;
            position: relative;
            top: 0.7%;
            left: 0.4%;
        }



    /* partie du commentaire */
.revue > div{
    margin-top: 2%;
    font-size: 110%;

}
    .revue > div>p{
        text-align: justify;
        margin-top: 0.5%;
    }
        /* modifier votre commentaire */
    .revue > div>div{
        text-align: right;
        font-size: 80%;
        color: blue;
    }
    .revue > div>div:hover{
        text-decoration: underline;
    }