


#body{
    width: 70%;
}

#body  h2{
    font-size: 160%;
    margin-bottom: 1%;
    margin-top: 3%;
    text-align: center;
}

/* pour les explication de sweetTable */
#explication{

}

#explication>p{

}


/* tableau de comparaison d'une note */
#explication>table{
    width: 70%;
    min-width: 650px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 1.5%;
    font-size: 105%;
}
#explication>table td{
    padding-right: 5%;
    width: 50%;
}
/* titre du tableau */
#explication>table caption{
    margin-bottom: 1%;
}


/* sous-titre des colones */
#explication>table h6{
    text-align: center;
    color: orangered;
    font-size: 120%;
    margin-bottom: 1%;
}

#explication>table p{
    margin-bottom: 3%;
}
/* image explicative */
#explication>table img{
   width: 100%;
}

/* */
#explication>table div#on_est_les_meilleur{
   text-align: center;

}



/* question */
#explication> cite{
}









/* histoire */
#histoire{

}

/* article de la presentation de sweetTable */
#histoire > article{

}
#histoire > article>h5{
    margin-top: 1.2%;
    margin-bottom: 0.2%;
}

/* paragraphe */
#histoire > article> p{
    text-align: justify;
    display: block;
    min-height: 120px;
}
#histoire > article>p> img{
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-top: 2px;
    width: 110px;
}




/* partie de droite */
#equipe{
    text-align: center;
}
#equipe > ul{
    text-align: left;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5%;
    padding: 0.4%;
    min-width: 180px;
}
#equipe > ul:first-child{
    margin-right: 3%;

}

#equipe > ul > li h6{
    margin-bottom: 0.3%;
    margin-top: 2.5%;
}

/*photo et nom */
#equipe > ul > li:first-child{
    text-align: center;
}
#equipe > ul > li> img{
    width: 105px;
}
#equipe > ul > li> p{
    margin-right: 2%;
}
#equipe > ul > li> h5{
    margin-bottom: 2%;
    font-size: 110%;
}


/* description*/

#equipe > ul > li ul{
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}