
#partieGauche,
#partieDroite{
    display: inline-block;
    vertical-align: top;
}
#partieGauche> h2,
#partieDroite> h2{
    font-size: 180%;
    text-align: center;
    margin-bottom: 3%;

}



/* partie de gauche */
#partieGauche{
    width: 57%;
    margin-right: 3%;

}

/* article de la presentation de sweetTable */
#partieGauche > article{

}
#partieGauche > article>h5{
    margin-top: 1.2%;
    margin-bottom: 0.2%;
}

/* paragraphe */
#partieGauche > article> p{
    text-align: justify;
    display: block;
    min-height: 120px;
}
#partieGauche > article>p> img{
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-top: 2px;
    width: 110px;
}




/* partie de droite */
#partieDroite{
    display: inline-block;
    vertical-align: top;
    width: 39%;
    text-align: center;
}
#partieDroite > ul{
    text-align: left;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5%;
    padding: 0.4%;
    min-width: 180px;
}
#partieDroite > ul:first-child{
    margin-right: 3%;

}

#partieDroite > ul > li h6{
    margin-bottom: 0.3%;
    margin-top: 2.5%;
}

/*photo et nom */
#partieDroite > ul > li:first-child{
    text-align: center;
}
#partieDroite > ul > li> img{
    width: 105px;
}
#partieDroite > ul > li> p{
    margin-right: 2%;
}
#partieDroite > ul > li> h5{
    margin-bottom: 2%;
    font-size: 110%;
}


/* description*/

#partieDroite > ul > li ul{
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}