
#body{
    width: 83%;
}

#body > h2{
    margin-bottom: 2%;
    font-size: 200%;

}

#form_nouveau_restau{

}

/*le formulaire */
#champ_restau{
    min-width: 430px;
    width: 60%;
    margin-right: 3%;
}

#photos, #champ_restau{
    display: inline-block;
    vertical-align: text-top;
}

/* ajouter photo */
#photos{
    text-align: center;
    width: 27%;
}
#photos> div{
    margin-bottom: 8%;
}
#photos> div> img{
    max-width: 59%;
    min-width: 150px;
}
#photos> div> input[type="file"]{
    display: block;
    border: none;
    box-shadow: none;
    margin: auto;
    width: 190px;
}

#photos> div> p{
   margin-top: 2%;
   color: #305EC6;
    cursor: pointer;
}
#photos> div> p:hover{
    text-decoration: underline;
}

/* valider */
.div_annuler_publier {
    margin-top: 2%;
    margin-right: 15%;
    margin-bottom: 10%;
}