
    /* photo de profil */
.compliment > img{
    display: inline-block;
    width: 10%;
    margin-right: 2%;
    vertical-align: text-top;

}
    /* partie a droite de la photo de profil */
.compliment > article{
    display: inline-block;
    width: 85%;
    vertical-align: text-top;

}       /* date  de publication de la revue */
    .compliment > article>time{
        color: grey;
        float: right;
    }
        /* qui a fait le comliment */
    .compliment > article>h4{

    }   /* lien sur la personne qui a fait le compliment */
        .compliment > article>h4>a{
             font-size: 100%;
             color: blue;
        }
        .compliment > article>h4>a:hover{
            text-decoration: underline;
        }
        /* compliement*/
    .compliment > article>p{
        text-align: justify;
    }
        /* partie en bas qui dis sur quel revue et restau c'est */
    .compliment > article>div{
        margin-top: 2%;
        font-weight: bold;
    }
            /* le petit => */
        .compliment > article>div>span{
            color: red;
            font-size: 110%;
            font-weight: bold;
        }
            /* les lien sur le restau et sur la revus */
        .compliment > article>div>a{
            color: blue;
            font-size: 105%;
        }
        .compliment > article>div>a:hover{
            text-decoration: underline;
        }










