
#droite{
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-left: 2%;
    margin-top: 4%;
}


/* zone des buttons */
#droite>div{
}

#droite #ecrireUneRevus{
    font-size: 130%;
    background: red;
    border: 1px red outset;
    padding: 0.5% 1% 0.5% 1%;
}

#droite #ajouterPhotos{
    margin-left: 3%;
}


/* information localisation*/
#droite>section{
    margin-top: 25%;
    border: 1px darkgray solid;
    width: 80%;
}

/* carte */
#droite>section>div{

}

/* adresse */
#droite>section>article{
    margin: 1.5%;
}

#droite>section>article>address{
    display: block;
}
/* tel */
#droite>section>article>p{
    margin-top: 0.5%;
    margin-bottom: 3%;
}








