#section{
    display: inline-block;
    margin: 2% 0% 2% 2%;
    width: 75%;
}

/* les inputs de recherche */
div{
    text-align: center;
    margin: 1% 2% 4% 0%;
}
#rechercherPersonne{
    padding: 0.4%;
    width: 30%;
    margin-right: 0.9%;

}
#inviterAmis{
    padding: 0.4%;
    margin-left: 1%;
    border: 2px red outset;
    background-color: red;
    font-weight: bold;
}
#inviterAmis:active{
    position: relative;
    top: 0.6%;
    left: 0.2%;
}

/* titres des listes */
#section > h2{
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 130%;
}


/* les section ou sont afficher les liste des amlis et des gens que l'on suis */
#mesAmis, #personnesuivis, #personneQuiMeSuivent{
    border: 2px #EBEAEB outset;
    background-color: #F4F4F4;
}

#mesAmis td{
    width: 34.5%;
    padding: 0.7%;
}


#personnesuivis td, #personneQuiMeSuivent td{
    width: 40%;
    padding: 1.5%;
}