
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td, em{
	border: 0;
	outline: 0;
	font-size: 95%;
	vertical-align: baseline;
	background: transparent;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	color: black;
	text-decoration: none;
}
html,body{
	width: 100%;
	min-height: 100%;
}

a:hover{
	text-decoration: none;
	color: black;
}
input, input:focus, select, textarea{
	outline: 0px;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	border: 1px silver inset;
	box-shadow: 1px 1px 5px silver;
	border-radius: 0px;
}

@font-face {
    font-family: 'gandhi_sansregular';
    src: url('Police/GandhiSans-Regular-webfont.eot');
    src: url('Police/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/GandhiSans-Regular-webfont.woff') format('woff'),
         url('Police/GandhiSans-Regular-webfont.ttf') format('truetype'),
         url('Police/GandhiSans-Regular-webfont.svg#gandhi_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #C9C2B4;
	font-family: 'gandhi_sansregular';
}
.enligne{
	display: inline-block; 
}

.global{
    min-width: 900px; 
    max-width: 2000px;
	margin: auto;
	width: 90%;
	height: 100%;
	border: 3px #A8A4AB groove;
	border-top: 0px #A8A4AB groove;
	box-shadow: 2px 2px 6px #A8A4AB;
	background-color: #FFFFFF;
	min-height: 1000px;
}

#pageConnection{
	height: 7700px;
	display: inline-block;
}


#nav{
	background-color: #FF8400;
	border-bottom: 1px #F17F04 solid;
	box-shadow: 0px 1px 1px #F1;
	padding: 0.5%;
	height: 10%;
	min-height: 65px;
}

#partiePrincipale{
	display: inline-block;
	width: 100%;
}
li{
	display: block;
}

#grossePartie{
	width: 75%;
	display: inline-block;
	margin-top: 3%;

}

em{
	color: #F75400;
}

	/* pour les button  d'ajous */
.ajous{
	font-size: 14px;
	color: #305EC6;
	text-decoration: none;
	display: block;
	font-weight: bold;
	text-align: right;
	margin-right: 5%;
	margin-bottom: 1%;
}

.ajous:hover{
	text-decoration: underline;
	color: #305EC6;
	font-weight: bold;
}

	/* pour les petites crois qui active des choses */
input.petiteCroix{
	background-color:  transparent;
	box-shadow: none; 
	font-size: 75%;
	border: 1px #EBEAEB outset; 
	float: right;
	cursor: pointer;
	user-select: none; /* L'utilisateur ne pourra plus sélectionner le texte de l'élément qui possède cette propriété CSS */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	text-align: center;
}
input.petiteCroix:active{
	position: relative;
	top: 0.5%;
	left: 0.5%;
	user-select: none; /* L'utilisateur ne pourra plus sélectionner le texte de l'élément qui possède cette propriété CSS */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	text-align: center;
}



hr{
	color: silver;
}




