#navProfil{
	display: inline-block;
	width: 13%;
	margin: 3%;
	margin-right: 2.5%;
	margin-top: 8%;
	vertical-align: top;
}

.rechercheProfil{
	display: inline-block;
	border: 2px #FF8400 solid;
	box-shadow: 1px 1px 0px #FF8400;
	width: 85%;
	min-width: 120px;
	padding: 5px;
	margin: 3px;
	background-color: #FFA13F;
	display: inline-block;
}

.rechercheProfil:hover{
	background-color: #FFB568
}









