#section{
    display: inline-block;
    width: 79%;
    margin-left: 1%;
}

#sectionGauche{
    display: inline-block;
    width: 56%;
    margin-top: 5%;
}

/* input de recherche */
#sectionGauche>input{
    display: inline-block;
}
#sectionGauche> #inputRecherchePersonne{
    width: 71%;
    margin-right: 3%;
    padding: 0.6%;
}
#sectionGauche> #inputLanceRecherche{
    border: 2px red outset;
    background: red;
    padding: 0.1% 0.5% 0.2% 0.5%;

}

/* liste des recherche */
#personneRecherche{
    margin-top: 6%;
    width: 91%;
}

#sectionDroite{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-top: 11%;
    margin-left: 1%;
}